<a href="https://colab.research.google.com/github/Logeswaran200422/python/blob/main/csv.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
df=pd.read_csv('50_Startups.csv')
df.iloc[0:10]

   R&D Spend  Administration  Marketing Spend       State     Profit
0  165349.20       136897.80        471784.10    New York  192261.83
1  162597.70       151377.59        443898.53  California  191792.06
2  153441.51       101145.55        407934.54     Florida  191050.39
3  144372.41       118671.85        383199.62    New York  182901.99
4  142107.34        91391.77        366168.42     Florida  166187.94
5  131876.90        99814.71        362861.36    New York  156991.12
6  134615.46       147198.87        127716.82  California  156122.51
7  130298.13       145530.06        323876.68     Florida  155752.60
8  120542.52       148718.95        311613.29    New York  152211.77
9  123334.88       108679.17        304981.62  California  149759.96

In [ ]:
print(df.shape)

(50, 5)

In [ ]:
print(df.columns)

Index(['R&D Spend', 'Administration', 'Marketing Spend', 'State', 'Profit'], dtype='object')

In [ ]:
print(df.describe())

           R&D Spend  Administration  Marketing Spend         Profit
count      50.000000       50.000000        50.000000      50.000000
mean    73721.615600   121344.639600    211025.097800  112012.639200
std     45902.256482    28017.802755    122290.310726   40306.180338
min         0.000000    51283.140000         0.000000   14681.400000
25%     39936.370000   103730.875000    129300.132500   90138.902500
50%     73051.080000   122699.795000    212716.240000  107978.190000
75%    101602.800000   144842.180000    299469.085000  139765.977500
max    165349.200000   182645.560000    471784.100000  192261.830000

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   R&D Spend        50 non-null     float64
 1   Administration   50 non-null     float64
 2   Marketing Spend  50 non-null     float64
 3   State            50 non-null     object
 4   Profit           50 non-null     float64
dtypes: float64(4), object(1)
memory usage: 2.1+ KB

In [ ]:
df.iloc[5]

R&D Spend           131876.9
Administration      99814.71
Marketing Spend    362861.36
State               New York
Profit             156991.12
Name: 5, dtype: object

In [ ]:
df[['R&D Spend','Profit']]

    R&D Spend     Profit
0   165349.20  192261.83
1   162597.70  191792.06
2   153441.51  191050.39
3   144372.41  182901.99
4   142107.34  166187.94
5   131876.90  156991.12
6   134615.46  156122.51
7   130298.13  155752.60
8   120542.52  152211.77
9   123334.88  149759.96
10  101913.08  146121.95
11  100671.96  144259.40
12   93863.75  141585.52
13   91992.39  134307.35
14  119943.24  132602.65
15  114523.61  129917.04
16   78013.11  126992.93
17   94657.16  125370.37
18   91749.16  124266.90
19   86419.70  122776.86
20   76253.86  118474.03
21   78389.47  111313.02
22   73994.56  110352.25
23   67532.53  108733.99
24   77044.01  108552.04
25   64664.71  107404.34
26   75328.87  105733.54
27   72107.60  105008.31
28   66051.52  103282.38
29   65605.48  101004.64
30   61994.48   99937.59
31   61136.38   97483.56
32   63408.86   97427.84
33   55493.95   96778.92
34   46426.07   96712.80
35   46014.02   96479.51
36   28663.76   90708.19
37   44069.95   89949.14
38   20229.59   81229.06
39   38558.51   81005.76
40   28754.33   78239.91
41   27892.92   77798.83
42   23640.93   71498.49
43   15505.73   69758.98
44   22177.74   65200.33
45    1000.23   64926.08
46    1315.46   49490.75
47       0.00   42559.73
48     542.05   35673.41
49       0.00   14681.40

In [ ]:
import pandas as pd
df=pd.read_csv('50_Startups.csv')
df.tail(3)

    R&D Spend  Administration  Marketing Spend       State    Profit
47       0.00       135426.92             0.00  California  42559.73
48     542.05        51743.15             0.00    New York  35673.41
49       0.00       116983.80         45173.06  California  14681.40

In [ ]:
df.iloc[10,4]

np.float64(146121.95)

In [ ]:
df.iloc[10:21,3:6]

         State     Profit
10     Florida  146121.95
11  California  144259.40
12     Florida  141585.52
13  California  134307.35
14     Florida  132602.65
15    New York  129917.04
16  California  126992.93
17    New York  125370.37
18     Florida  124266.90
19    New York  122776.86
20  California  118474.03

In [ ]:
df.isnull().sum()

R&D Spend          0
Administration     0
Marketing Spend    0
State              0
Profit             0
dtype: int64

In [ ]:
df.rename(columns={'R&D Spend':'RD_Spend'}, inplace=True)
df.columns

Index(['RD_Spend', 'Administration', 'Marketing Spend', 'State', 'Profit'], dtype='object')

In [ ]:
df['tot_spend']=df['RD_Spend']+df['Administration']+df['Marketing Spend']
df['tot_spend']

0     774031.10
1     757873.82
2     662521.60
3     646243.88
4     599667.53
5     594552.97
6     409531.15
7     599704.87
8     580874.76
9     536995.67
10    441668.14
11    442207.12
12    471023.57
13    480152.39
14    533003.58
15    498916.68
16    463956.72
17    522309.05
18    500844.52
19    239933.81
20    488785.63
21    531900.19
22    500096.57
23    478052.29
24    316900.16
25    342180.49
26    353514.92
27    553155.96
28    366845.28
29    325775.92
30    268767.00
31    302056.53
32    238713.72
33    373186.25
34    414917.66
35    336579.10
36    356846.79
37    292382.51
38    271442.62
39    296539.90
40    320096.05
41    277074.40
42    267831.67
43    178422.20
44    205318.60
45    127057.20
46    414246.13
47    135426.92
48     52285.20
49    162156.86
Name: tot_spend, dtype: float64

In [ ]:
df['State']=df['State'].replace('Florida','FL')
df['State']

In [ ]:
df.drop(columns=['Marketing Spend'])

     RD_Spend  Administration       State     Profit  tot_spend       state
0   165349.20       136897.80    New York  192261.83  774031.10    New York
1   162597.70       151377.59  California  191792.06  757873.82  California
2   153441.51       101145.55          FL  191050.39  662521.60          FL
3   144372.41       118671.85    New York  182901.99  646243.88    New York
4   142107.34        91391.77          FL  166187.94  599667.53          FL
5   131876.90        99814.71    New York  156991.12  594552.97    New York
6   134615.46       147198.87  California  156122.51  409531.15  California
7   130298.13       145530.06          FL  155752.60  599704.87          FL
8   120542.52       148718.95    New York  152211.77  580874.76    New York
9   123334.88       108679.17  California  149759.96  536995.67  California
10  101913.08       110594.11          FL  146121.95  441668.14          FL
11  100671.96        91790.61  California  144259.40  442207.12  California
12   93863.75       127320.38          FL  141585.52  471023.57          FL
13   91992.39       135495.07  California  134307.35  480152.39  California
14  119943.24       156547.42          FL  132602.65  533003.58          FL
15  114523.61       122616.84    New York  129917.04  498916.68    New York
16   78013.11       121597.55  California  126992.93  463956.72  California
17   94657.16       145077.58    New York  125370.37  522309.05    New York
18   91749.16       114175.79          FL  124266.90  500844.52          FL
19   86419.70       153514.11    New York  122776.86  239933.81    New York
20   76253.86       113867.30  California  118474.03  488785.63  California
21   78389.47       153773.43    New York  111313.02  531900.19    New York
22   73994.56       122782.75          FL  110352.25  500096.57          FL
23   67532.53       105751.03          FL  108733.99  478052.29          FL
24   77044.01        99281.34    New York  108552.04  316900.16    New York
25   64664.71       139553.16  California  107404.34  342180.49  California
26   75328.87       144135.98          FL  105733.54  353514.92          FL
27   72107.60       127864.55    New York  105008.31  553155.96    New York
28   66051.52       182645.56          FL  103282.38  366845.28          FL
29   65605.48       153032.06    New York  101004.64  325775.92    New York
30   61994.48       115641.28          FL   99937.59  268767.00          FL
31   61136.38       152701.92    New York   97483.56  302056.53    New York
32   63408.86       129219.61  California   97427.84  238713.72  California
33   55493.95       103057.49          FL   96778.92  373186.25          FL
34   46426.07       157693.92  California   96712.80  414917.66  California
35   46014.02        85047.44    New York   96479.51  336579.10    New York
36   28663.76       127056.21          FL   90708.19  356846.79          FL
37   44069.95        51283.14  California   89949.14  292382.51  California
38   20229.59        65947.93    New York   81229.06  271442.62    New York
39   38558.51        82982.09  California   81005.76  296539.90  California
40   28754.33       118546.05  California   78239.91  320096.05  California
41   27892.92        84710.77          FL   77798.83  277074.40          FL
42   23640.93        96189.63  California   71498.49  267831.67  California
43   15505.73       127382.30    New York   69758.98  178422.20    New York
44   22177.74       154806.14  California   65200.33  205318.60  California
45    1000.23       124153.04    New York   64926.08  127057.20    New York
46    1315.46       115816.21          FL   49490.75  414246.13          FL
47       0.00       135426.92  California   42559.73  135426.92  California
48     542.05        51743.15    New York   35673.41   52285.20    New York
49       0.00       116983.80  California   14681.40  162156.86  California

In [ ]:
df[df['State']=='California']

,RD_Spend,Administration,Marketing Spend,State,Profit,tot_spend,state
1,162597.70,151377.59,443898.53,California,191792.06,757873.82,California
6,134615.46,147198.87,127716.82,California,156122.51,409531.15,California
9,123334.88,108679.17,304981.62,California,149759.96,536995.67,California
11,100671.96,91790.61,249744.55,California,144259.40,442207.12,California
13,91992.39,135495.07,252664.93,California,134307.35,480152.39,California
16,78013.11,121597.55,264346.06,California,126992.93,463956.72,California
20,76253.86,113867.30,298664.47,California,118474.03,488785.63,California
25,64664.71,139553.16,137962.62,California,107404.34,342180.49,California
32,63408.86,129219.61,46085.25,California,97427.84,238713.72,California
34,46426.07,157693.92,210797.67,California,96712.80,414917.66,California
37,44069.95,51283.14,197029.42,California,89949.14,292382.51,California
39,38558.51,82982.09,174999.30,California,81005.76,296539.90,California
40,28754.33,118546.05,172795.67,California,78239.91,320096.05,California
42,23640.93,96189.63,148001.11,California,71498.49,267831.67,California
44,22177.74,154806.14,28334.72,California,65200.33,205318.60,California
47,0.00,135426.92,0.00,California,42559.73,135426.92,California
49,0.00,116983.80,45173.06,California,14681.40,162156.86,California

In [ ]:
df[df['Profit']>150000]

,RD_Spend,Administration,Marketing Spend,State,Profit,tot_spend,state
0,165349.20,136897.80,471784.10,New York,192261.83,774031.10,New York
1,162597.70,151377.59,443898.53,California,191792.06,757873.82,California
2,153441.51,101145.55,407934.54,FL,191050.39,662521.60,FL
3,144372.41,118671.85,383199.62,New York,182901.99,646243.88,New York
4,142107.34,91391.77,366168.42,FL,166187.94,599667.53,FL
5,131876.90,99814.71,362861.36,New York,156991.12,594552.97,New York
6,134615.46,147198.87,127716.82,California,156122.51,409531.15,California
7,130298.13,145530.06,323876.68,FL,155752.60,599704.87,FL
8,120542.52,148718.95,311613.29,New York,152211.77,580874.76,New York

In [ ]:
df[(df['RD_Spend']>100000) & (df['Profit']>120000)]

,RD_Spend,Administration,Marketing Spend,State,Profit,tot_spend,state
0,165349.20,136897.80,471784.10,New York,192261.83,774031.10,New York
1,162597.70,151377.59,443898.53,California,191792.06,757873.82,California
2,153441.51,101145.55,407934.54,FL,191050.39,662521.60,FL
3,144372.41,118671.85,383199.62,New York,182901.99,646243.88,New York
4,142107.34,91391.77,366168.42,FL,166187.94,599667.53,FL
5,131876.90,99814.71,362861.36,New York,156991.12,594552.97,New York
6,134615.46,147198.87,127716.82,California,156122.51,409531.15,California
7,130298.13,145530.06,323876.68,FL,155752.60,599704.87,FL
8,120542.52,148718.95,311613.29,New York,152211.77,580874.76,New York
9,123334.88,108679.17,304981.62,California,149759.96,536995.67,California
10,101913.08,110594.11,229160.95,FL,146121.95,441668.14,FL
11,100671.96,91790.61,249744.55,California,144259.40,442207.12,California
14,119943.24,156547.42,256512.92,FL,132602.65,533003.58,FL
15,114523.61,122616.84,261776.23,New York,129917.04,498916.68,New York

In [ ]:
df[(df['State']=='New York')&(df['Administration']<120000)]

,RD_Spend,Administration,Marketing Spend,State,Profit,tot_spend,state
3,144372.41,118671.85,383199.62,New York,182901.99,646243.88,New York
5,131876.90,99814.71,362861.36,New York,156991.12,594552.97,New York
24,77044.01,99281.34,140574.81,New York,108552.04,316900.16,New York
35,46014.02,85047.44,205517.64,New York,96479.51,336579.10,New York
38,20229.59,65947.93,185265.10,New York,81229.06,271442.62,New York
48,542.05,51743.15,0.00,New York,35673.41,52285.20,New York

In [ ]:
df[df['tot_spend']>400000]

,RD_Spend,Administration,Marketing Spend,State,Profit,tot_spend,state
0,165349.20,136897.80,471784.10,New York,192261.83,774031.10,New York
1,162597.70,151377.59,443898.53,California,191792.06,757873.82,California
2,153441.51,101145.55,407934.54,FL,191050.39,662521.60,FL
3,144372.41,118671.85,383199.62,New York,182901.99,646243.88,New York
4,142107.34,91391.77,366168.42,FL,166187.94,599667.53,FL
5,131876.90,99814.71,362861.36,New York,156991.12,594552.97,New York
6,134615.46,147198.87,127716.82,California,156122.51,409531.15,California
7,130298.13,145530.06,323876.68,FL,155752.60,599704.87,FL
8,120542.52,148718.95,311613.29,New York,152211.77,580874.76,New York
9,123334.88,108679.17,304981.62,California,149759.96,536995.67,California
10,101913.08,110594.11,229160.95,FL,146121.95,441668.14,FL
11,100671.96,91790.61,249744.55,California,144259.40,442207.12,California
12,93863.75,127320.38,249839.44,FL,141585.52,471023.57,FL
13,91992.39,135495.07,252664.93,California,134307.35,480152.39,California
14,119943.24,156547.42,256512.92,FL,132602.65,533003.58,FL
15,114523.61,122616.84,261776.23,New York,129917.04,498916.68,New York
16,78013.11,121597.55,264346.06,California,126992.93,463956.72,California
17,94657.16,145077.58,282574.31,New York,125370.37,522309.05,New York
18,91749.16,114175.79,294919.57,FL,124266.90,500844.52,FL
20,76253.86,113867.30,298664.47,California,118474.03,488785.63,California
21,78389.47,153773.43,299737.29,New York,111313.02,531900.19,New York
22,73994.56,122782.75,303319.26,FL,110352.25,500096.57,FL
23,67532.53,105751.03,304768.73,FL,108733.99,478052.29,FL
27,72107.60,127864.55,353183.81,New York,105008.31,553155.96,New York
34,46426.07,157693.92,210797.67,California,96712.80,414917.66,California
46,1315.46,115816.21,297114.46,FL,49490.75,414246.13,FL

In [ ]:
df['State'].value_counts()

State
New York      17
California    17
FL            16
Name: count, dtype: int64

In [ ]:
import pandas as pd
df=pd.read_csv('50_Startups.csv')
df.groupby('State')['Profit'].mean()

State
California    103905.175294
Florida       118774.024375
New York      113756.446471
Name: Profit, dtype: float64

In [ ]:
df.groupby('State')['R&D Spend'].max()

State
California    162597.70
Florida       153441.51
New York      165349.20
Name: R&D Spend, dtype: float64

In [ ]:
df['Administration'].mean()

np.float64(121344.63960000001)

In [ ]:
df.groupby('State')['Marketing Spend'].sum()

State
California    3103195.80
Florida       3957176.82
New York      3490882.27
Name: Marketing Spend, dtype: float64

In [ ]:
df.sort_values(by='Profit', ascending=False)

    R&D Spend  Administration  Marketing Spend       State     Profit
0   165349.20       136897.80        471784.10    New York  192261.83
1   162597.70       151377.59        443898.53  California  191792.06
2   153441.51       101145.55        407934.54     Florida  191050.39
3   144372.41       118671.85        383199.62    New York  182901.99
4   142107.34        91391.77        366168.42     Florida  166187.94
5   131876.90        99814.71        362861.36    New York  156991.12
6   134615.46       147198.87        127716.82  California  156122.51
7   130298.13       145530.06        323876.68     Florida  155752.60
8   120542.52       148718.95        311613.29    New York  152211.77
9   123334.88       108679.17        304981.62  California  149759.96
10  101913.08       110594.11        229160.95     Florida  146121.95
11  100671.96        91790.61        249744.55  California  144259.40
12   93863.75       127320.38        249839.44     Florida  141585.52
13   91992.39       135495.07        252664.93  California  134307.35
14  119943.24       156547.42        256512.92     Florida  132602.65
15  114523.61       122616.84        261776.23    New York  129917.04
16   78013.11       121597.55        264346.06  California  126992.93
17   94657.16       145077.58        282574.31    New York  125370.37
18   91749.16       114175.79        294919.57     Florida  124266.90
19   86419.70       153514.11             0.00    New York  122776.86
20   76253.86       113867.30        298664.47  California  118474.03
21   78389.47       153773.43        299737.29    New York  111313.02
22   73994.56       122782.75        303319.26     Florida  110352.25
23   67532.53       105751.03        304768.73     Florida  108733.99
24   77044.01        99281.34        140574.81    New York  108552.04
25   64664.71       139553.16        137962.62  California  107404.34
26   75328.87       144135.98        134050.07     Florida  105733.54
27   72107.60       127864.55        353183.81    New York  105008.31
28   66051.52       182645.56        118148.20     Florida  103282.38
29   65605.48       153032.06        107138.38    New York  101004.64
30   61994.48       115641.28         91131.24     Florida   99937.59
31   61136.38       152701.92         88218.23    New York   97483.56
32   63408.86       129219.61         46085.25  California   97427.84
33   55493.95       103057.49        214634.81     Florida   96778.92
34   46426.07       157693.92        210797.67  California   96712.80
35   46014.02        85047.44        205517.64    New York   96479.51
36   28663.76       127056.21        201126.82     Florida   90708.19
37   44069.95        51283.14        197029.42  California   89949.14
38   20229.59        65947.93        185265.10    New York   81229.06
39   38558.51        82982.09        174999.30  California   81005.76
40   28754.33       118546.05        172795.67  California   78239.91
41   27892.92        84710.77        164470.71     Florida   77798.83
42   23640.93        96189.63        148001.11  California   71498.49
43   15505.73       127382.30         35534.17    New York   69758.98
44   22177.74       154806.14         28334.72  California   65200.33
45    1000.23       124153.04          1903.93    New York   64926.08
46    1315.46       115816.21        297114.46     Florida   49490.75
47       0.00       135426.92             0.00  California   42559.73
48     542.05        51743.15             0.00    New York   35673.41
49       0.00       116983.80         45173.06  California   14681.40

In [1]:
import pandas as pd
df=pd.read_csv('/content/50_Startups.csv')
df.sort_values(by='R&D_Spend' and 'Profit')

    R&D Spend  Administration  Marketing Spend       State     Profit
49       0.00       116983.80         45173.06  California   14681.40
48     542.05        51743.15             0.00    New York   35673.41
47       0.00       135426.92             0.00  California   42559.73
46    1315.46       115816.21        297114.46     Florida   49490.75
45    1000.23       124153.04          1903.93    New York   64926.08
44   22177.74       154806.14         28334.72  California   65200.33
43   15505.73       127382.30         35534.17    New York   69758.98
42   23640.93        96189.63        148001.11  California   71498.49
41   27892.92        84710.77        164470.71     Florida   77798.83
40   28754.33       118546.05        172795.67  California   78239.91
39   38558.51        82982.09        174999.30  California   81005.76
38   20229.59        65947.93        185265.10    New York   81229.06
37   44069.95        51283.14        197029.42  California   89949.14
36   28663.76       127056.21        201126.82     Florida   90708.19
35   46014.02        85047.44        205517.64    New York   96479.51
34   46426.07       157693.92        210797.67  California   96712.80
33   55493.95       103057.49        214634.81     Florida   96778.92
32   63408.86       129219.61         46085.25  California   97427.84
31   61136.38       152701.92         88218.23    New York   97483.56
30   61994.48       115641.28         91131.24     Florida   99937.59
29   65605.48       153032.06        107138.38    New York  101004.64
28   66051.52       182645.56        118148.20     Florida  103282.38
27   72107.60       127864.55        353183.81    New York  105008.31
26   75328.87       144135.98        134050.07     Florida  105733.54
25   64664.71       139553.16        137962.62  California  107404.34
24   77044.01        99281.34        140574.81    New York  108552.04
23   67532.53       105751.03        304768.73     Florida  108733.99
22   73994.56       122782.75        303319.26     Florida  110352.25
21   78389.47       153773.43        299737.29    New York  111313.02
20   76253.86       113867.30        298664.47  California  118474.03
19   86419.70       153514.11             0.00    New York  122776.86
18   91749.16       114175.79        294919.57     Florida  124266.90
17   94657.16       145077.58        282574.31    New York  125370.37
16   78013.11       121597.55        264346.06  California  126992.93
15  114523.61       122616.84        261776.23    New York  129917.04
14  119943.24       156547.42        256512.92     Florida  132602.65
13   91992.39       135495.07        252664.93  California  134307.35
12   93863.75       127320.38        249839.44     Florida  141585.52
11  100671.96        91790.61        249744.55  California  144259.40
10  101913.08       110594.11        229160.95     Florida  146121.95
9   123334.88       108679.17        304981.62  California  149759.96
8   120542.52       148718.95        311613.29    New York  152211.77
7   130298.13       145530.06        323876.68     Florida  155752.60
6   134615.46       147198.87        127716.82  California  156122.51
5   131876.90        99814.71        362861.36    New York  156991.12
4   142107.34        91391.77        366168.42     Florida  166187.94
3   144372.41       118671.85        383199.62    New York  182901.99
2   153441.51       101145.55        407934.54     Florida  191050.39
1   162597.70       151377.59        443898.53  California  191792.06
0   165349.20       136897.80        471784.10    New York  192261.83

In [ ]:
df['tot_spend']=df['R&D Spend']+df['Administration']+df['Marketing Spend']
df['Profit margin %']=(df['Profit']/df['tot_spend']*100)
df['Profit margin %']

0     24.839032
1     25.306595
2     28.836855
3     28.302317
4     27.713346
5     26.404900
6     38.122255
7     25.971542
8     26.203888
9     27.888486
10    33.084105
11    32.622586
12    30.059116
13    27.971817
14    24.878379
15    26.039827
16    27.371719
17    24.003101
18    24.811472
19    51.171138
20    24.238444
21    20.927426
22    22.066188
23    22.745208
24    34.254334
25    31.388213
26    29.909216
27    18.983491
28    28.154207
29    31.004330
30    37.183728
31    32.273283
32    40.813674
33    25.933142
34    23.308914
35    28.664736
36    25.419366
37    30.764200
38    29.924947
39    27.316985
40    24.442635
41    28.078679
42    26.695308
43    39.097702
44    31.755686
45    51.099883
46    11.947185
47    31.426344
48    68.228504
49     9.053826
Name: Profit margin %, dtype: float64

In [15]:
df.nlargest(5,'R&D Spend')

   R&D Spend  Administration  Marketing Spend       State     Profit
0  165349.20       136897.80        471784.10    New York  192261.83
1  162597.70       151377.59        443898.53  California  191792.06
2  153441.51       101145.55        407934.54     Florida  191050.39
3  144372.41       118671.85        383199.62    New York  182901.99
4  142107.34        91391.77        366168.42     Florida  166187.94

In [19]:
df.to_csv('final_startups')