<a href="https://colab.research.google.com/github/Logeswaran200422/python/blob/main/pandas_%26_series.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
a=["banana","melons","lichi","apple","goa"]
print(pd.Series(a))

0    banana
1    melons
2     lichi
3     apple
4       goa
dtype: object

In [ ]:
import pandas as pd
a=[2,4,6]
print(pd.Series(sum(a)))

0    12
dtype: int64

In [ ]:
import pandas as pd
a={"mat":90,"eng":87,"sci":65}
print(pd.Series(a))

mat    90
eng    87
sci    65
dtype: int64

In [ ]:
import pandas as pd
a=["mat","eng","sci"]
b=[90,87,65]
print(pd.Series((max(b),min(b))))

0    90
1    65
dtype: int64

In [ ]:
import pandas as pd
a={"india":"delhi","nepal":"katmandu","pakistan":"istanburgh"}
print(pd.Series(a))

india            delhi
nepal         katmandu
pakistan    istanburgh
dtype: object

In [ ]:
import pandas as pd
a={"india":"delhi","nepal":"katmandu","pakistan":"istanburgh"}
print(pd.Series(a["india"]))

0    delhi
dtype: object

In [ ]:
import pandas as pd
a=[]
t=pd.Series([98,70,65,43,21,10,92])
for i in t:
  if i>30:
    a.append(i)
print(a)

[98, 70, 65, 43, 92]

In [ ]:
import pandas as pd
a=[]
t=pd.Series([98,70,65,43,21,10,92])
avg=sum(t)/len(t)
print(avg)

57.0

In [ ]:
import pandas as pd
a=[1,2,3,4]
index=['a','b','c','d']
print(pd.Series(a,index))

a    1
b    2
c    3
d    4
dtype: int64

In [ ]:
import pandas as pd
a=[['a','b','c'],[1,2,3]]
d_type=[type(i) for i in a]
print(pd.Series(d_type))

0    <class 'list'>
1    <class 'list'>
dtype: object

data frame

In [ ]:
import pandas as pd
df={"name":["anu","bob","moni"],"age":[12,34,56]}
print(pd.DataFrame(df))

   name  age
0   anu   12
1   bob   34
2  moni   56

In [ ]:
import pandas as pd
df={"name":["anu","bob","moni"],"age":[12,34,56]}
df["city"]=["chennai","delhi","mumbai"]
print(pd.DataFrame(df))

   name  age     city
0   anu   12  chennai
1   bob   34    delhi
2  moni   56   mumbai

In [ ]:
import pandas as pd
df={"name":["anu","bob","moni"],"age":[12,34,56],"city":["chennai","delhi","mumbai"]}
print(pd.DataFrame(df["name"]))

      0
0   anu
1   bob
2  moni

In [ ]:
import pandas as pd
df={"name":["anu","bob","moni"],"age":[12,34,56],"city":["chennai","delhi","mumbai"]}
for i in df["age"]:
  if i>25:
    print(i)

34
56

In [ ]:
import pandas as pd
df={"name":["anu","bob","moni"],"age":[12,34,56],"city":["chennai","delhi","mumbai"]}
df["sts"]=["active","active","active"]
print(df)

{'name': ['anu', 'bob', 'moni'], 'age': [12, 34, 56], 'city': ['chennai', 'delhi', 'mumbai'], 'sts': ['active', 'active', 'active']}

In [ ]:
import pandas as pd
df={"prod":["a","b","c"],"p":[10,20,30],"q":[4,5,6]}
print(pd.DataFrame(df))

  prod   p  q
0    a  10  4
1    b  20  5
2    c  30  6

In [ ]:
import pandas as pd
df={"prod":["a","b","c"],"p":[10,20,30],"q":[4,5,6]}
df = pd.DataFrame(df)
df["tot"] = df["p"] * df["q"]
print(df)

  prod   p  q  tot
0    a  10  4   40
1    b  20  5  100
2    c  30  6  180

In [ ]:
import pandas as pd
df={"prod":["a","b","c"],"p":[10,20,30],"q":[4,5,6],"tot":[40,100,180]}
df=pd.DataFrame(df)
print(df.describe())

          p    q         tot
count   3.0  3.0    3.000000
mean   20.0  5.0  106.666667
std    10.0  1.0   70.237692
min    10.0  4.0   40.000000
25%    15.0  4.5   70.000000
50%    20.0  5.0  100.000000
75%    25.0  5.5  140.000000
max    30.0  6.0  180.000000

In [ ]:
import pandas as pd
a=[[1,'anu',2],[3,'anil',4],[5,'bob']]
column=['id','name','age']
df=pd.DataFrame(a,columns=column)
print(df)

   id  name  age
0   1   anu  2.0
1   3  anil  4.0
2   5   bob  NaN

In [ ]:
import pandas as pd
a=[['apple',10],['banana',20],['melon',30]]
columns=['fruits','price']
df=pd.DataFrame(a,columns=columns)
df=df.sort_values(by='price',ascending=False)
print(df)

   fruits  price
2   melon     30
1  banana     20
0   apple     10